{% comment %}
  Video color overlay for splash-streams (video_overlay block).

  Accepts:
  - block: {Object} video_overlay block
{% endcomment %}

{%- liquid
  assign overlay_opacity = block.settings.opacity | default: 35
  assign overlay_opacity_percent = overlay_opacity | at_least: 0 | at_most: 100
  assign overlay_color_setting = block.settings.color
  if overlay_color_setting != blank
    assign overlay_rgb = overlay_color_setting.rgb
  else
    assign overlay_rgb = '0 0 0'
  endif
  assign overlay_background = 'rgb(' | append: overlay_rgb | append: ' / ' | append: overlay_opacity_percent | append: '%)'
  assign overlay_placement = block.settings.placement | default: 'full_screen'
-%}

<div
  id="SplashVideoOverlay-{{ block.id }}"
  class="splash-streams__video-overlay splash-streams__video-overlay--{{ overlay_placement }}"
  style="background-color: {{ overlay_background }};"
  aria-hidden="true"
  {{ block.shopify_attributes }}
></div>

{% style %}
  #SplashVideoOverlay-{{ block.id }} {
    background-color: {{ overlay_background }} !important;
  }
{% endstyle %}
